<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="light-style layout-menu-fixed" dir="ltr"
      data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum=1.0"/>
    <title>Claim Manager - BIDV MetLife</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap"
          rel="stylesheet"/>
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css"/>
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="../assets/css/demo.css"/>
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <div th:include="cms/common/sidebar::sidebar-fragment"></div>

        <div class="layout-page">
            <div th:include="cms/common/header.html :: header-fragment"></div>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label for="lastName">Họ tên</label>
                            <input type="text" id="lastName" class="form-control"
                                   placeholder="Last name">
                        </div>
                        <div class="col-md-3">
                            <label for="code">Mã</label>
                            <input type="text" id="code" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="fromDate">Từ ngày tạo</label>
                            <input type="date" id="fromDate" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="toDate">Đến ngày tạo</label>
                            <input type="date" id="toDate" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-right">

                            <!-- gán event onclick với hàm add() trong file js -->
                            <button id="add-button" onclick="addUser()" class="btn btn-info">Thêm mới</button>
                            <!-- gán event onclick với hàm searchUser/() trong file js -->
                            <button id="search-button"  class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>


                    <div class="card">
                        <div class="table-responsive text-nowrap">
                            <table class="table" id="tableData">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll"></th>
                                    <th>Mã</th>
                                    <th>Username</th>
                                    <th>Họ Tên</th>
                                    <th>Ngày Tạo</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end">
                            <nav aria-label="Page navigation" style="
                                            margin-top: 2%;
                                            padding-right: 2%;
                                        ">
                                <ul class="pagination" id="paginationId">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div th:include="cms/common/footer :: footer-fragment"></div>


                <div class="content-backdrop fade"></div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</div>
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../assets/vendor/js/menu.js"></script>
<script src="../assets/js/main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="../cms/user-manager.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Lấy các ô input và dropdown
        const userName = document.getElementById('lastName');
        const code = document.getElementById('code');
        const fromDate = document.getElementById('fromDate');
        const toDate = document.getElementById('toDate');
        const searchButton = document.getElementById('search-button');

        // Hàm lọc dữ liệu
        function filterTable() {
            const userNamevalue = userName.value.toLowerCase();
            const codevalue = code.value.toLowerCase() ;
            const fromDateValue = fromDate.value.toLowerCase();
            const toDateValue = toDate.value.toLowerCase();


            const rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                const userName = row.cells[3].textContent.toLowerCase();
                const code = row.cells[1].textContent.toLowerCase();
                const ngayGuiYeuCau = row.cells[4].textContent.toLowerCase();

                const showRow =
                    (userName.includes(userNamevalue)) &&
                    (code.includes(codevalue)) &&
                    (!fromDateValue || new Date(ngayGuiYeuCau) >= new Date(fromDateValue)) &&
                    (!toDateValue || new Date(ngayGuiYeuCau) <= new Date(toDateValue))
                  ;

                row.style.display = showRow ? '' : 'none';
            });
        }

        // Thêm sự kiện lắng nghe nút tìm kiếm
        searchButton.addEventListener('click', filterTable);
    });
</script>

</body>
</html>
